/* ====================================
  Base Styles (Reset, Fonts, Scroll)
==================================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none; 
  color: inherit; 
  pointer-events: auto;       
}

html {
  scroll-behavior: smooth;
  font-size:10px;
}

body {
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

main{
  padding-top:8rem;
}


/* ====================================
   Font Utilities
==================================== */

.bungee-regular-hard {
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans-medium {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 350;
  font-style: normal;
}

.dm-sans-hard{
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

/* ====================================
   Transition
==================================== */
.fade-in{
  opacity:0;
  transition:opacity 0.5a ease;
}

.fade-in.show{
  opacity:1;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}



/* ====================================
   Backgrounds
==================================== */

.my-background-1 {
  background: url("assets/images/wallpaper.png");
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  width:100vw;

}

/* ====================================
   Navbar
==================================== */

.navbar{
  display:flex;
  justify-content: space-between;
  align-items: center; 
  min-height: 8rem; 
  background-color: rgb(0, 0, 0);
  color:rgb(255, 255, 255);
  left:0;
  top:0;
  position:fixed;
  width:100%;
  z-index:1000;
  padding:1rem 3rem;
  box-sizing: border-box;

}

.gridlock-logo{
  width:5rem;
  height:5rem;
}
.logo{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap:1rem;
  transition:color 0.5s ,transform 0.5s ease;
}

.logo:hover{
  color: rgb(3, 217, 255);
  transform: translateY(-0.3rem);
  cursor: pointer;
}

.left-navbar{
  font-size: 3rem;
  display:flex;
  flex-direction:row;
    

}

.right-navbar{
  font-size: 2rem;
  display:flex;
  flex-direction:row;
  gap:3rem;
  

}

.navbar-img{
  width:3.5rem;
  height:3.5rem;
}

.navbar-img-LinkedIn{
  width:4.5rem;
  height:4.5rem;


}
/* ====================================
   Welcome Screen
==================================== */

.welcome-screen{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:10rem 15rem;
  gap:5rem;
  opacity:0;
  transform: translateY(4rem);
  animation: fadeInUp 1s ease forwards;
}

.welcome-screen.remove{
  display:none;
}

.welcome-title{
  font-size: 5rem;
  text-align: center;

}

.welcome-paragraph{
  font-size: 3rem;
  text-align: center;
}


.start-game-button {
  align-items: center;
  background-clip: padding-box;
  background-color: #000000;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-size: 5rem;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 2rem;
  padding: 1rem;
  position: relative;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  border-radius: 10px;
}

.start-game-button:hover,
.start-game-button:focus {
  background-color: #09a84c;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.start-game-button:hover {
  transform: translateY(-1px);
}

.start-game-button:active {
  background-color: #8ace0d;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}


/* ====================================
   Choose Difficulty
==================================== */

.choose-difficulty{
  display:none;
}

.choose-difficulty.active{
  
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:10rem 15rem;
  gap:5rem;
  opacity:0;
  transform: translateY(4rem);
  animation: fadeInUp 1s ease forwards;
}

.difficulty-selection{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:2rem;

}

/* ====================================
   game grid
==================================== */
.game-grid{
  display:none;
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding:2rem 15rem;
  gap:3rem;
}

.game-grid.active{
  display:flex;

}

.game-grid.fadeout{
  opacity: 0;
  transform: translateY(2rem);
}

.game-grid.fadein{
  opacity: 1;
  transform: translateY(0);
}

.cell {
  border: 2px solid #000000;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  background-color: #000000;
}

.emoji-box{
  font-size:6rem;
}

.invisible-box{
  display:flex;
  align-items: center;
  justify-content: center;
  width:7rem;
  height:7rem;
  display:flex;
  padding:2rem;
  
}

.rounds,.efficiency{
  font-size:5rem;
}

.timer.active{
  display:block;
  opacity: 0;
}

.timer{
  display: none;
  font-size:4rem;
  opacity: 0;
  transform: translateY(-2rem);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.timer.fadeout{
  opacity: 0;
  transform: translateY(-2rem);
}

.timer.fadein {
  opacity: 1;
  transform: translateY(0);
}

.grid-difficulty-easy,
.grid-difficulty-normal,
.grid-difficulty-hard {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding: 2rem 2rem;
  gap: 1rem;
  transform: translateY(-2rem);
}



.grid-difficulty-easy.active,.grid-difficulty-normal.active,.grid-difficulty-hard.active{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap:1rem;
  padding:2rem 2rem;
  opacity: 0;
}

.grid-difficulty-normal.active{
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  gap:1rem;
  padding:2rem 2rem;
  opacity: 0;
}

.grid-difficulty-hard.active{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap:1rem;
  padding:2rem 2rem;
  opacity: 0;
}

.grid-difficulty-easy.fadein,.grid-difficulty-normal.fadein,.grid-difficulty-hard.fadein{
  opacity: 1;
  transform: translateY(0);

}

.grid-difficulty-easy.fadeout,.grid-difficulty-normal.fadeout,.grid-difficulty-hard.fadeout{
  opacity: 0;
  transform: translateY(-0.5rem);
}


.questions_container{
  display:none;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding:3rem 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:5rem;
  transform: translateY(-2rem);
}

.question-1,.question-2,.question-3{
  display:flex;
  flex-direction: row;
  gap:3rem;
  font-size:3rem;
}

.questions_container.active{
  display:flex;
}

.questions_container.fadein{
  opacity:1;
  transform: translateY(0)
}

.questions_container.fadeout{
  opacity: 0;
  transform: translateY(2rem);
}


.symbol_check_ans{
  opacity:0;
  transform: translateY(4rem);
  animation: fadeInUp 1s ease forwards;
}


.efficiency{
  display:none;
  opacity: 0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:5rem;
  gap:5rem;
  transform: translateY(-2rem);

}

.efficiency-percentage{
  font-size:4rem;
}

.efficiency.active{
  display:flex;
}

.efficiency.fadein{
  opacity:1;
  transform: translateY(0)
}

.efficiency.fadeout{
  opacity:0;
  transform: translateY(2rem);
}


.score-results{
  display:none;
  opacity:0;
  transition: opacity 0.5s ease, transform 0.5s ease;
  padding:3rem 5rem;
  transform: translateY(-2rem);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:3rem;
}

.score-results.active{
  display:flex;
}

.score-results.fadein{
  opacity:1;
  transform: translateY(0)
}

.score-results.fadeout{
  opacity:0;
  transform: translateY(2rem);
}

.result_title{
  text-align: center;
  font-size:5rem;
}

.round_result{
  text-align: center;
  font-size: 3rem;
}

.Efficiency_title{
  font-size:5rem;
  text-align: center;
}

/* ====================================
   Footer
==================================== */


.footer-text{
  text-align: center;
}
.footer-content{
  padding:2rem 0rem;
  background-color: black;
  width:100%;
  color:white;
  font-size:2rem;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:2rem;
  min-height: 25vh;
}

.footer-links{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:2rem;
}

.footer-link{
  display: inline-block;
  display:flex;
  justify-content: center;
  align-items: center;
  transition:color 0.5s ,transform 0.5s ease;
}

.footer-link:hover{
  transform: translateY(-0.3rem);
  cursor: pointer;

}

.footer-img{
  width:4.5rem;
  height:4.5rem;
}

.footer-img-linkedin{
  width:6rem;
  height:6rem;
}

/* ====================================
  10. Media Queries
==================================== */

@media (max-width: 1230px) {

  html{
    font-size: 8px;
  }
  


}


@media (max-width: 850px) {

  .navebar-text{
    display:none;
  }


}
@media (max-width: 700px) {


  html{
    font-size: 6px;
  }

}

@media (max-width: 450px) {

  .navebar-text-main{
    display:none;
  }


}